<%= link_to @upload.csv_file.filename, rails_blob_path(@upload.csv_file, disposition: "attachment") %>
<% if @upload.csv_file.content_type == 'text/csv' %>
  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date published</th>
      <th>Unique identifier</th>
      <th>Publisher name</th>
    </tr>
    </thead>

    <tbody>
    <% CSV.parse(@upload.csv_file.download, headers: true) do |book| %>
      <tr>
        <td><%= book['title'] %></td>
        <td><%= book['author'] %></td>
        <td><%= book['date_published'] %></td>
        <td><%= book['unique_identifier'] %></td>
        <td><%= book['publisher_name'] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Edit', edit_upload_path(@upload) %> |
<%= link_to 'Back', uploads_path %>
